@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure 2025 from ICT Apprenticeship Class</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <p> I am now building my Web App. </p>
</div>
